body {
  background-image: url('https://i1.wp.com/www.pari47.fr/wp-content/uploads/2015/12/background-noel.jpg?ssl=1');
}

h1 {
  text-align: center;
  color: green;
  font-family: Luminari, fantasy;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  color: white;
  display: inline-block;
  width: 90px;
  text-align: right;
  font-family: Trattatello, fantasy;
  font-size: 110%;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 25em;
}

.bouton {
  padding-left: 90px;
}

bouton {
  margin-left: .5em;
}
